body {
  font-family: "Poppins", sans-serif;
}

/* HOME */
/* -- Hero -- */
.hero-container {
  background-image: linear-gradient(180deg, rgba(1, 1, 1, 0.5494397588136817) 0%, rgba(0, 0, 0, 0.3953781341638217) 25%, rgba(255, 255, 255, 0) 100%), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: antiquewhite;
}

.hero-content {
  top: 30%;
  left: 10%;
}

/* --- Harga --- */
.harga .card,
.list-group-item {
  border: none;
}

.harga .card {
  box-shadow: var(--bs-box-shadow) !important;
}

.harga .card:hover {
  transition: 0.3s all;
  transform: scale(110%);
}

/* KATALOG */
/* Navtab */
.nav .nav-link {
  color: black;
}

/* --- Footers --- */
.footers a {
  text-decoration: none;
  color: black;
}
