body {
  font-family: "Poppins", sans-serif;
}

.body-bg {
  background-color: #76949f;
  color: #ffffff;
}

/* Modal */
.modal-content.cover {
  background-image: linear-gradient(180deg, rgba(5, 5, 5, 0.25) 70%, #000c0f 100%), url("../../img/desain/4/4a/modal.jpg");
  background-position: center;
}

.btn-modal {
  color: #000000;
  background-color: #ffffff;
}

.btn-modal:hover {
  background-color: #252828;
  color: #ffffff;
}

/* Hero */
.hero {
  background-image: url("../../img/desain/4/4a/hero.jpg");
  background-position: center bottom;
}

.hero-inner span {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
}

.hero-inner h5 {
  font-family: "EB Garamond", serif;
}

/* Bingkai */
.bingkai {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  border-radius: 1rem;
}

.bingkai p {
  margin: 0.5rem auto;
}

.bingkai p:nth-child(1) {
  font-family: "Sacramento", cursive;
}

.foto {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
}

/* Foto */
.img-wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 400px;
  padding: 3rem 0;
}

.img-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 60vh;
  border: 5px solid white;
  border-radius: 4rem 0 4rem 0;
}

/* Mempelai */
.mempelai-wrap {
  background-image: url("../../img/desain/bg-1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: auto;
  color: #000000;
}
.mempelai h2 {
  font-family: "Playfair Display", serif;
}

.mempelai .fs-1 {
  font-family: "Playfair Display", serif;
}

.mempelai .insta-wrap {
  color: #ffffff;
  background-color: #284c4a;
}

/* Acara */
.acara-wrap {
  margin-top: calc(4rem + 1.5vh);
  text-align: center;
  padding: 0 1rem;
}

.acara-wrap .dh {
  font-family: "Playfair Display", serif;
}

.acara-wrap .card {
  border: none;
}

.acara-wrap .btn {
  background-color: #76949f;
  color: #ffffff;
}

.acara-wrap .btn:hover {
  background-color: #284c4a;
}

.acara h2 {
  font-family: "Playfair Display", serif;
}

.acara p:nth-child(even) {
  font-weight: bold;
}

/* Countdown */
.countdown-wrap {
  background-image: url("../../img/desain/4/4a/cd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 32% 20%;
  height: 80vh;
  position: relative;
  color: #ffffff;
  width: 90%;
  margin: 3rem auto 0 auto;
  border-radius: 1rem;
}

.countdown-wrap-inner {
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  width: 100%;
}

.countdown-wrap .col {
  background-color: rgba(255, 255, 255, 0.2);
}

/* RSVP */
.rsvp {
  position: relative;
  height: auto;
  margin: 2rem auto 0 auto;
  background-color: #ffffff;
  color: #000000;
  padding: 2rem 0px;
}

.rsvp h2 {
  font-weight: bold;
}

.rsvp-text {
  text-align: center;
  width: 80%;
  max-width: 35rem;
  margin: 0 auto;
}

/* Galeri */
.galeri img {
  margin: 0 auto;
  height: 60vh;
}

/* On Mobile */
@media (max-width: 576px) {
  .mempelai .card-body {
    text-align: center !important;
  }

  .mempelai img {
    margin-top: 1rem;
  }
}
