/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins&family=Satisfy&family=Poppins&family=Playfair+Display&family=Caudex&family=Yellowtail&family=Sacramento&family=Parisienne&display=swap");

body {
  font-family: "Poppins", serif;
}

.body-content {
  background-image: url("../../img/desain/1/1c/bg-dot.png");
  background-repeat: repeat;
  background-color: #1d3f57;
  color: #ffffff;
}

.bird {
  background-image: url("../../img/desain/Bird.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert();
  width: 50px;
  height: 50px;
  margin: 1.5rem auto;
}

/* Ornamen */
.ornamen .top {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 200px;
  height: auto;
  transform: rotateY(180deg);
  mix-blend-mode: difference;
}

.ornamen .bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 200px;
  height: auto;
  transform: rotateY(180deg);
  mix-blend-mode: difference;
}

/* Modal */
.modal-content.cover {
  background-image: linear-gradient(180deg, rgba(5, 5, 5, 0.1) 70%, #000c0f 100%), url("../../img/desain/1/1c/bg-dot.png");
  background-repeat: repeat;
  background-color: #1d3f57;
  height: 100vh;
}

.modal-body .modal-text h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.modal-text {
  position: relative;
  top: 30%;
  text-align: center;
  padding: 1rem 0;
  color: #ffffff;
  font-family: "Caudex", serif;
}

.btn-modal {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.btn-modal {
  color: #000000;
  background-color: #ffffff;
}

.btn-modal:hover {
  background-color: #d6b8b2;
  color: #000000;
}

/* Hero */
.hero {
  /* background: linear-gradient(180deg, rgba(37, 40, 40, 0.1) 0%, #252828 100%), url("../../img/desain/1/1c/bg-dot.png");
  background-repeat: repeat;
  background-color: #1d3f57; */
  height: 100vh;
}

.hero-content {
  position: relative;
  top: 60vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  color: #000000;
}

.hero-content h5 {
  font-family: "Caudex", serif;
}

.hero-content h3 {
  font-family: "Parisienne", cursive;
  font-size: 3rem;
  font-weight: bold;
}

.hero-content h6 {
  font-family: "Parisienne", cursive;
  font-size: 3rem;
}

/* Data Mmepelai */
.mempelai {
  background-color: #ffefeb;
  padding: 1.5rem 0;
  border: 5px solid #ffffff;
  color: #233757;
}

.mempelai .col-sm h3:nth-child(2) {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.mempelai .col-sm h3:first-child {
  font-family: "Parisienne", cursive;
  font-size: 3.5rem;
}

/* Countdown */
.countdown-wrapper {
  position: relative;
  padding: 1rem 0 3rem 0;
  /* background-color: #233757; */
  /* color: #ffffff; */
}

.countdown {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.countdown h4 {
  font-size: 2rem;
}

.countdown-timer {
  max-width: 500px;
  margin: auto;
  justify-content: space-between;
  padding-top: 1rem;
}

/* Acara */
.acara {
  background-color: #ffefeb;
  padding: 1.5rem 0;
  border: 5px solid #ffffff;
  color: #233757;
}

.acara h2 {
  font-family: "Parisienne", cursive;
  /* font-weight: bold; */
  margin-bottom: 1rem;
  font-size: 3rem;
}

.acara p:nth-child(even) {
  font-weight: bold;
}

.map {
  width: 70%;
  margin-top: 1.5rem;
}

/* Hadiah */
/* dual heading */
.dual-heading {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.dh-first,
.dh-second {
  display: inline-block;
}

.dh-first {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 900;
}

.dh-second {
  position: relative;
  top: 1.1rem;
  right: 2.3rem;
  font-family: "Monsieur La Doulaise", sans-serif;
  font-size: 3rem;
}

.hadiah {
  position: relative;
  padding: 2rem 0;
}

.hadiah .modal {
  color: #000000;
}

.btn-hadiah {
  background-color: #d6b8b2;
  color: #ffffff;
}

.btn-hadiah:hover {
  background-color: #ffffff;
  color: #233757;
}

/* Ucapan */
.ucapan {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-color: #233757; */
  /* color: #ffffff; */
}

.ucapan .container div:first-child {
  background-color: #ffffff;
  color: #000000;
  padding-top: 1rem;
}

#modalPesan {
  color: #000000;
}

.ucapan a {
  cursor: pointer;
}

.ucapan .bi {
  display: inline-block;
  transform: rotate(15deg);
}

.ucapan .bi:hover {
  transition: 0.3s all;
  transform: scale(110%);
}

.comment {
  padding: 1rem;
  margin-top: 1rem;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
}

.comment p {
  margin-bottom: 0;
}

/* Musik */
.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .hero-content {
    top: 50vh;
  }
  .audio-icon-wrapper {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }

  .comment p,
  .ayat p {
    font-size: 90%;
  }

  .map {
    width: 100%;
  }

  .ornamen .top,
  .ornamen .bottom {
    max-width: 120px;
  }
}
